
@import 'style2.css';
h1 {
  color: blue;
  background-color: yellow;
  border: 1px solid black;
}

p {
  color: red;
}

/*
 * functions
 */
.outer {
  border: 5px solid black;
}

.inner {
  padding: 10px;
  width: calc(90% - 30px);
  background-color: rebeccapurple;
  color: white;
}

.rotate {
  margin: 30px;
  width: 100px;
  height: 100px;
  background-color: rebeccapurple;
  transform: rotate(0.8turn);
}

/*
 * @rules
 */
body {
  background-color: pink;
}

@media (min-width: 30em) {
  body {
    background-color: blue;
  }
}

/*
 * shorthands
 */
.padding {
  border: 1px solid black;
  padding: 10px 15px 15px 5px;
}


.background {
  width: 200px;
  height: 100px;
  
  background: red url(bgtile.png) 10px 10px repeat-x;

}








